.issues-body-title-header {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0.01em;

  color: #505050;
}

.issues-body {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;

  color: #505050;
}