.home-page-right-img-upper-rect {
  position: absolute;
  width: 922px;
  height: 303px;
  left: 1170px;
  top: 62px;
  background: linear-gradient(272.53deg, #40AFD1 33.01%, rgba(238, 245, 253, 0) 178.9%);
  transform: rotate(45deg);
  z-index: -10;
}

.home-page-right-img-lower-rect {
  position: absolute;
  width: 922px;
  height: 303px;
  left: 957px;
  top: 713px;

  background: linear-gradient(270.75deg, #40AFD1 0.1%, #000000 70.37%);
  transform: rotate(-45deg);
  z-index: -10;
}

.home-page-app-bar-background {
  position: absolute;
  width: 100vw;
  height: 64px;
  left: 0;
  top: 0;

  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

}

.app-page-app-bar-background-mobile {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0;
  top: 0;

  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.home-page-mobile-hamburger {
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  border-radius: 0 !important;
}

.home-page-mobile-banner {
  position: absolute;
  left: calc(50% - 96.5px);
  top: 25px;
}

.home-page-logo {
  position: absolute;
  top: 25px;
  left: 12px
}

.home-page-search-bar {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  margin-left: 286px;
  margin-top: 15px;
  width: 40vw;
  height: 31px;
  background-color: #f1f1f1 !important;
}

.home-page-search-bar-input {
  position: absolute;
  font-family: Source Sans Pro, serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 0.05em !important;
  margin-left: 2px !important;
  flex: 1;
  color: #8C8C8C;
}

.home-page-tab-bar {
  position: absolute;
  left: calc(100vw - 480px);
  top: 0;
}

.home-page-tab-bar .MuiTab-textColorPrimary.Mui-selected {
  color: #40AFD1 !important;
}

.home-page-tab-bar .MuiTab-root {
  font-family: Source Sans Pro, serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  min-height: 64px !important;
  letter-spacing: 0.05em !important;
}

.home-page-logo-large {
  width: 541px;
  height: 70px;
  position: absolute;
  left: 300px;
  top: 300px;
}

.home-page-body-text {
  position: absolute;
  width: 687px;
  height: 60px;
  left: 300px;
  top: 376px;

  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  color: #6E6E6E;
}

.home-page-body-button {
  padding: 0;
  border: none;
  background: #40AFD1;
  color: #FFFFFF;
  width: 138px;
  height: 49px;

  font-family: DM Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  text-align: center;

  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: #39a0bd;
    box-shadow: 6px 6px 12px #C4C4C4;
    transition: all 0.25s
  }

  &:not(hover) {
    transition: all 0.25s
  }

  &:active {
    background: #2e859c;
  }
}

.home-page-mobile-drawer {
  position: absolute;
  top: 0;
  width: unquote("min(100vw, 360px)");
  height: 100vh;
  background: #40AFD1;
  z-index: 5;
}

.home-page-mobile-drawer-close-btn {
  border-radius: 0 !important;
  height: 64px;
  width: 64px;
  left: 0;
  top: 0;
}

.home-page-mobile-drawer-close-btn-back {
  color: #ffffff;
  height: 32px !important;
  width: 32px !important;
}

.home-page-mobile-drawer-logo {
  position: fixed;
  margin-left: 20px;
  margin-top: 24px;
}

.home-page-mobile-drawer-item {
  color: #ffffff;

  &:hover {
    color: #2e859c;
  }
}

.home-page-drawer-item-container {

}

.home-page-mobile-drawer-item-container .MuiListItem-root {
  text-align: center;
  align-items: center !important;
}


.home-page-mobile-drawer-list-item-inner-text {
  color: #ffffff;
  font-family: Source Sans Pro, serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
}

.home-page-desktop-top-text-ht1 {
  font-family: IBM Plex Mono, serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.255em;

  color: #40AED1;
}

.home-page-desktop-top-text-ht2 {
  font-family: DM Sans, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  width: 860px;
  display: inline-block;
  word-break: break-word;
  color: #131313;
}

.home-page-desktop-top-text-ht3 {
  font-family: DM Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  width: 860px;
  display: inline-block;
  word-break: break-word;

  color: #6E6E6E;
}

.home-page-desktop-card-ht1 {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #505050;
}

.home-page-desktop-card-ht2 {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #000000;
}

.home-page-desktop-card-ht3 {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #40AED1;
}

.home-page-desktop-grid-list {
  position: relative;
  padding-top: 64px !important;
  padding-left: 300px !important;
  padding-right: 300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: fit-content;
  width: 837px;
}

.home-page-desktop-grid-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(12, 12, 12, 0.25);
  border-radius: 16px;
  width: 260px;
  height: 332px;
}

.home-page-desktop-card-btn {
  color: #8C8C8C !important;
}











