.model-title-head {
  position: absolute;
  width: 125px;
  height: 50px;
  left: 184px;
  top: 116px;

  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;

  color: #6E6E6E;
}

.model-tabs {
  position: absolute;
  left: 188px;
  top: 187px;
  height: 300px;

  .MuiTab-root {
    font-family: Source Sans Pro, serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 15px !important;
    text-align: left !important;
    letter-spacing: 0.01em !important;
    color: #8C8C8C !important;
  }

  .MuiTab-wrapper {
    align-items: start;
  }
}

.model-grid-list {
  position: absolute;
  left: 600px;
  top: 67px;
  padding-top: 64px !important;
  height: calc(100vh - 67px);

  .MuiGridListTile-tile {
    width: 360px;
  }
}

.model-grid-list-mb {
  position: absolute;
  left: calc(50vw - 180px);
  top: 67px;
  height: calc(100vh - 67px);

  .MuiGridListTile-tile {
    width: 360px;
  }
}

.model-grid-list-item-header {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #505050;
}

.model-grid-list-item-text {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #000000;
}

.model-grid-list-item-btn {
  color: #8C8C8C !important;
}


.model-git-desktop-button {
  padding: 0;
  border: none;
  background: #40AFD1;
  color: #FFFFFF;
  width: 217px;
  height: 35px;

  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-align: center;
  letter-spacing: 0.01em;

  box-shadow: 2px 2px 4px #C4C4C4;
  border-radius: 0;

  position: absolute;
  left: 199px;
  top: 502px;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: #39a0bd;
    box-shadow: 6px 6px 12px #C4C4C4;
    transition: all 0.25s
  }

  &:not(hover) {
    transition: all 0.25s
  }

  &:active {
    background: #2e859c;
  }
}

.model-github-desktop-logo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 61px;
}

.model-body-title-header {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0.01em;

  color: #505050;
}

.model-body-title-header-mb {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.01em;

  color: #505050;
  margin-left: 10px;
}

